<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flowers</title>
  </head>
  <body>
   <main>    
     <!-- navbar start  -->
     <nav
     class="navbar navbar-expand-lg navbar-primary"
     style="background-color: #152e52"
   >
     <div class="container">
       <!-- <a class="navbar-brand custombrand" href="#"><img src="assets/images/testLogo.png" alt="logo" srcset=""></a> -->
       <div class=" navbar-brand logo_design">
         <a routerLink="/home">
           <img src="assets/images/logo.png" alt="logo" srcset=""  />
           <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
           ROOF AGRICULTURE COMMUNITY
         </a>
       </div>

       <button
         class="navbar-toggler"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent"
         aria-expanded="false"
         aria-label="Toggle navigation"
         style="border-color: #fff"
       >
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item pe-3">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item pe-3">
            <a class="nav-link" routerLink="/agriculture">Agriculture</a>
          </li>
          <li class="nav-item pe-3">
            <a class="nav-link" routerLink="/fruits">Fruits</a>
          </li>
          <li class="nav-item pe-3">
            <a class="nav-link" routerLink="/flowers">Flowers</a>
          </li>
          <li class="nav-item pe-3">
            <a class="nav-link" routerLink="/about">About Us</a>
          </li>
          <li class="nav-item pe-3 signbackgroundcolorfixed">
            <a class="nav-link " routerLink="/signin"> <button type="button" class="btn btn-success  text-white fs-5">Enrollments</button> </a>
          </li>
          <!-- <li class="nav-item pe-3">
            <a class="nav-link" routerLink="/signup"> <button type="button" class="btn btn-warning text-white fs-4">SignUp</button> </a>
          </li> -->
         </ul>
       </div>
     </div>
   </nav>

   <!-- card start  -->

<div class="container py-5">
  <h1 class="text-center  bg bg-success p-3 fs-1 text-white fw-bold">Popular Flowers</h1>
  <div class="row row-cols-1 row-cols-md-3 g4 py-5">

    <div class="col mb-2">
      <div class="card">
        <img src="assets/images/Rose.jpg" class="card-img-top" alt="...">
        <div class="card-body d-grid">
          <a routerLink="/home" class="btn btn-outline-success">Rose</a>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card">
        <img src="assets/images/Rose.jpg" class="card-img-top" alt="...">
        <div class="card-body d-grid">
          <a routerLink="/home" class="btn btn-outline-success">Rose</a>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card">
        <img src="assets/images/Rose.jpg" class="card-img-top" alt="...">
        <div class="card-body d-grid">
          <a routerLink="/home" class="btn btn-outline-success">Rose</a>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card">
        <img src="assets/images/Rose.jpg" class="card-img-top" alt="...">
        <div class="card-body d-grid">
          <a routerLink="/home" class="btn btn-outline-success">Rose</a>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card">
        <img src="assets/images/Rose.jpg" class="card-img-top" alt="...">
        <div class="card-body d-grid">
          <a routerLink="/home" class="btn btn-outline-success">Rose</a>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card">
        <img src="assets/images/Rose.jpg" class="card-img-top" alt="...">
        <div class="card-body d-grid">
          <a routerLink="/home" class="btn btn-outline-success">Rose</a>
        </div>
      </div>
    </div>


  </div>

</div>



   </main>

     <!-- Footer Start -->
     <footer class="text-center text-white" style="background-color: #183153">
      <div class="row">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h1 class="text-uppercase fw-bold fs-2">Roof Agriculture Community</h1>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width:200px; background-color: #fff; height: 3px"
          />
          <p class="text-left">
            Roof AgriCulture Community is the complete solution for Roof Cultivation. 
          </p>
          <p class="text-left">
            <fa-icon [icon]="homeicon"> </fa-icon> Address: New Airport Road,
            Bonani, Dhaka-1213,Bangladesh
          </p>
          <p class="text-left">
            <fa-icon [icon]="emailicon"> </fa-icon> Email: racinfo@gmail.com
          </p>
          <p class="text-left">
            <fa-icon [icon]="phoneicon"> </fa-icon> Phone: +8801712532656
          </p>
        </div>
  
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h1 class="text-uppercase fw-bold">Services</h1>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #fff; height: 3px"
          />
          <p>
            <a routerLink="/agriculture" class="text-white">Agriculture</a>
          </p>
          <p>
            <a routerLink="/fruits" class="text-white">Fruits</a>
          </p>
          <p>
            <a routerLink="/flowers" class="text-white">Flowers</a>
          </p>
         
         
        </div>
  
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h1 class="text-uppercase fw-bold">Follow us</h1>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #fff; height: 3px"
          />
          <p>
            <a href="#" class="text-white pe-3" style="font-size: 40px"
              ><fa-icon [icon]="facebookicon"> </fa-icon
            ></a>
            <a href="#" class="text-white pe-3" style="font-size: 40px"
              ><fa-icon [icon]="tweetrericon"> </fa-icon
            ></a>
            <a href="#" class="text-white pe-3" style="font-size: 40px"
              ><fa-icon [icon]="pinteresticon"> </fa-icon
            ></a>
            <a href="#" class="text-white pe-3" style="font-size: 40px"
              ><fa-icon [icon]="instagramicon"> </fa-icon
            ></a>
          </p>
        </div>
  
        <div class="copyright-wrap" style="background-color: #172b47">
          <div class="container">
            <div class="row pt-3">
              <div class="col-lg-6 col-md-6 mx-auto text-center">
                <div class="copyright-text">
                  <p>
                    Copyright © 2024 <a routerLink="/home">Roof Agriculture Community</a> All Rights
                    Reserved.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
