@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:ital,wght@1,300&family=Open+Sans:ital,wght@1,400;1,500;1,600&family=Roboto:wght@700&display=swap");

header {
  background-color: #f2f2f2;
  text-align: center;
}

header h1 {
  color: #333;
  font-size: 30px;
}

header p {
  font-weight: bold;
}

nav {
  background-color: #333;
  font-size: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 8px 15px;
  font-size: 20px;
  font-weight: 400;
}

nav a:hover {
  background-color: rgb(255, 255, 255);
  color: #183153;
}

nav .logo_design {
  height: 30px;
  width: 55px;
}
.logo_design a:hover {
  background-color:#183153;
  color: #fff;
}

main {
  flex: 1;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

img {
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: cover;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}
footer p, a{
  font-size: 15px;
}
footer p a{
  text-decoration: none;
}

.card-img-top{
  border-radius: 0 ;
  padding: 20px;
}
.card{
  border-radius: 00px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card-body a{
font-size: 20px;
font-weight: bolder;
}




















/* 
Basic style for nav and footer 

@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito:ital,wght@1,300&family=Open+Sans:ital,wght@1,400;1,500;1,600&family=Roboto:wght@700&display=swap");

header {
  background-color: #f2f2f2;
  text-align: center;
}

header h1 {
  color: #333;
  font-size: 30px;
}

header p {
  font-weight: bold;
}

nav {
  background-color: #333;
  font-size: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 8px 15px;
  font-size: 20px;
  font-weight: 400;
}

nav a:hover {
  background-color: rgb(255, 255, 255);
  color: #183153;
}

nav .logo_design {
  height: 30px;
  width: 55px;
}
.logo_design a:hover {
  background-color:#183153;
  color: #fff;
}


main {
  flex: 1;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

img {
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: cover;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}
footer p, a{
  font-size: 15px;
}
footer p a{
  text-decoration: none;
}

Basic style for nav and footer  */
