<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aboutus</title>
</head>
<body>
    <main>

        <nav
        class="navbar navbar-expand-lg navbar-primary"
        style="background-color: #152e52"
      >
        <div class="container">
          <!-- <a class="navbar-brand custombrand" href="#"><img src="assets/images/testLogo.png" alt="logo" srcset=""></a> -->
          <div class=" navbar-brand logo_design">
            <a routerLink="/home">
              <img src="assets/images/logo.png" alt="logo" srcset=""  />
              <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
              ROOF AGRICULTURE COMMUNITY
            </a>
          </div>
    
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            style="border-color: #fff"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item pe-3">
                <a class="nav-link" routerLink="/home">Home</a>
              </li>
              <li class="nav-item pe-3">
                <a class="nav-link" routerLink="/agriculture">Agriculture</a>
              </li>
              <li class="nav-item pe-3">
                <a class="nav-link" routerLink="/fruits">Fruits</a>
              </li>
              <li class="nav-item pe-3">
                <a class="nav-link" routerLink="/flowers">Flowers</a>
              </li>
              <li class="nav-item pe-3">
                <a class="nav-link" routerLink="/about">About Us</a>
              </li>
              <li class="nav-item pe-3 signbackgroundcolorfixed">
                <a class="nav-link " routerLink="/signin"> <button type="button" class="btn btn-success  text-white fs-5">Enrollments</button> </a>
              </li>
              <!-- <li class="nav-item pe-3">
                <a class="nav-link" routerLink="/signup"> <button type="button" class="btn btn-warning text-white fs-4">SignUp</button> </a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>


      <section class="hero">
        <div class="heading">
          <!-- <h1>About Us</h1> -->
        </div>
  
        <div class="container_about">
          <div class="hero-content">
            <h2>Roof Agriculture Community</h2>
            <p>Roof Agriculture communities are like gardens on top of buildings in cities. People work together to grow food there. They use smart ways to save water and grow plants on walls. These rooftop gardens not only give fresh food but also teach everyone to take care of the environment and build a strong community.They also help build a strong community in the city.</p>
            <!-- <button class="cta-button">Learn More</button> -->
          </div>
  
          <div class="hero-image">
            <img src="assets/images/about_pic2.jpg" alt="">
          </div>
  
  
        </div>
  
      </section>

      <div class="text-center teambackground py-3">
        <h1 class="text-uppercase fw-bold">Team Information</h1>
        <h3 class="text-muted">"We are committed to doing ethically!. Continuous learning and adaptability are the main characteristics of our team. We used all updated tools." </h3>
        <div class="row row-cols-1 row-cols-md-3 g-4 py-2">
            <div class="col">
              <div class="card">
                <img src="assets/images/miraz.png" class="card-img-top " alt="...">
                <div class="card-body">
                  <h5 class="card-title fs-2">Md Mirazuddin</h5>
                  <p class="card-text">"Team Leader & Backend Developer"</p>
                </div>

                <div class="d-flex justify-content-evenly p-3">
                    <fa-icon [icon]="facebookicon" class="cardsocialmediaicon"> </fa-icon> 
                    <fa-icon [icon]="emailicon" class="cardsocialmediaicon"> </fa-icon> 
                    <fa-icon [icon]="linkdinicon" class="cardsocialmediaicon"> </fa-icon> 
                    <fa-icon [icon]="whatsapp" class="cardwhatsappicon"> </fa-icon> 
                </div>
              </div>
            </div>
            
            <div class="col">
              <div class="card">
                <img src="assets/images/nuru.jpg" class="card-img-top " alt="...">
                <div class="card-body">
                  <h5 class="card-title fs-2">Nurullah Sany</h5>
                  <p class="card-text">"UI/UX Designer & Frontend Developer"</p>
                </div>

                <div class="d-flex justify-content-evenly p-3">
                    <fa-icon [icon]="facebookicon" class="cardsocialmediaicon"> </fa-icon> 
                    <fa-icon [icon]="emailicon" class="cardsocialmediaicon"> </fa-icon> 
                    <fa-icon [icon]="linkdinicon" class="cardsocialmediaicon"> </fa-icon> 
                    <fa-icon [icon]="whatsapp" class="cardwhatsappicon"> </fa-icon> 
                </div>
              </div>
            </div>


            <div class="col">
              <div class="card">
                <img src="assets/images/alamin.jpg" class="card-img-top " alt="...">
                <div class="card-body">
                  <h5 class="card-title fs-2">Al Amin Khan</h5>
                  <p class="card-text">"Analyzer"</p>
                </div>

                <div class="d-flex justify-content-evenly p-3">
                    <fa-icon [icon]="facebookicon" class="cardsocialmediaicon"> </fa-icon> 
                    <fa-icon [icon]="emailicon" class="cardsocialmediaicon"> </fa-icon> 
                    <fa-icon [icon]="linkdinicon" class="cardsocialmediaicon"> </fa-icon> 
                    <fa-icon [icon]="whatsapp" class="cardwhatsappicon"> </fa-icon> 
                </div>
              </div>
            </div>
          </div>




    </div>


    </main>
 <!-- Footer Start -->
 <footer class="text-center text-white" style="background-color: #183153">
    <div class="row">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h1 class="text-uppercase fw-bold fs-2">Roof Agriculture Community</h1>
        <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width:200px; background-color: #fff; height: 3px"
        />
        <p class="text-left">
          Roof AgriCulture Community is the complete solution for Roof Cultivation. 
        </p>
        <p class="text-left">
          <fa-icon [icon]="homeicon"> </fa-icon> Address: New Airport Road,
          Bonani, Dhaka-1213,Bangladesh
        </p>
        <p class="text-left">
          <fa-icon [icon]="emailicon"> </fa-icon> Email: racinfo@gmail.com
        </p>
        <p class="text-left">
          <fa-icon [icon]="phoneicon"> </fa-icon> Phone: +8801712532656
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h1 class="text-uppercase fw-bold">Services</h1>
        <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #fff; height: 3px"
        />
        <p>
          <a routerLink="/agriculture" class="text-white">Agriculture</a>
        </p>
        <p>
          <a routerLink="/fruits" class="text-white">Fruits</a>
        </p>
        <p>
          <a routerLink="/flowers" class="text-white">Flowers</a>
        </p>
       
       
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h1 class="text-uppercase fw-bold">Follow us</h1>
        <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #fff; height: 3px"
        />
        <p>
          <a href="#" class="text-white pe-3" style="font-size: 40px"
            ><fa-icon [icon]="facebookicon"> </fa-icon
          ></a>
          <a href="#" class="text-white pe-3" style="font-size: 40px"
            ><fa-icon [icon]="tweetrericon"> </fa-icon
          ></a>
          <a href="#" class="text-white pe-3" style="font-size: 40px"
            ><fa-icon [icon]="pinteresticon"> </fa-icon
          ></a>
          <a href="#" class="text-white pe-3" style="font-size: 40px"
            ><fa-icon [icon]="instagramicon"> </fa-icon
          ></a>
        </p>
      </div>

      <div class="copyright-wrap" style="background-color: #172b47">
        <div class="container">
          <div class="row pt-3">
            <div class="col-lg-6 col-md-6 mx-auto text-center">
              <div class="copyright-text">
                <p>
                  Copyright © 2024 <a routerLink="/home">Roof Agriculture Community</a> All Rights
                  Reserved.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

    
</body>
</html>